<link rel="stylesheet" href="css/user/home.css">

<div class="overlay" ng-if="loader">
  <div class="overlay-content">
    <img class="loader-img" src="../image/loader.png" alt="">
  </div>
</div>

<div class="col-md-offset-1 col-md-10 partial-page" ng-init="init()">
    
    <!--3D Carousal-->
    <div class="carousel-wrapper">
        <div class="carousel">
            <div class="slide first">
                <a href="#/teams/valkyrie"><img class="img-thumbnail" src="image/Valkyrie.jpg"/></a>
            </div>
            <div class="slide second">
                <a href="#/teams/illuminati"><img class="img-thumbnail" src="image/Archadians.jpg"/></a>
            </div>
            <div class="slide third">
                <a href="#/teams/spartans"><img class="img-thumbnail" src="image/Spartans.png"/></a>
            </div>
            <div class="slide fourth">
                <a href="#/teams/archadians"><img class="img-thumbnail" src="image/Illuminati.jpg"/></a>
            </div>
        </div>
    </div>
    
    <!--Introductory Para-->
    <div class="para">
        <p class="text-justify">After a successful year of fun and
            frolic, Fun Anchors bring you the second edition of Fun-O-Mania and with
            the second edition we promise you more fun, better games and better
            rewards. Plethora of amazing activities are coming your way to keep you
            entertained with multitude of events lined up in various categories. The
            criteria for dividing VISA account into 4 clans is already out. Each
            clan will be associated with one of the warrior clans from the past. The
            clan that scores highest points by end of year will be crowned the
            winner of "Fun-O-Mania 2.0". Also, we have a lot of mini events that
            might turn out to be the fate deciders.
        </p>
        <p class="text-center">
            So, Get ready for entertainment....Get ready for recreation.....Get ready for <b>"Fun-O-Mania 2018" !!!</b>
        </p>
    </div>
</div>