<link rel="stylesheet" href="css/user/teams.css">

<div class="col-md-offset-1 col-md-10 partial-page">
    
    <!--Alert-->
    <div class="alert alert-success alert-dismissable fade in" ng-if="alert">
        <p class="text-center"><strong>Congratulations!!!</strong> You are a part of team Spartans</p>
    </div>
    
    <!--Team Image-->
    <img class="img img-rounded img-reponsive img-thumbnail team-image" src="../../image/wallpaper spartans.jpg"/>
    <br>
    
    <!--Team Details Table-->
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Team name</th>
                <th>Captain</th>
                <th>Captain Emp Id</th>
                <th>Vice Captain</th>
                <th>Vice Captain Emp Id</th>
                <th>Team Selection Criteria</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Spartans</td>
                <td>{{sTeam.capName}}</td>
                <td>{{sTeam.capId}}</td>
                <td>{{sTeam.vcapName}}</td>
                <td>{{sTeam.vcapId}}</td>
                <td>Employee number with remainder 2</td>
            </tr>
        </tbody>
    </table>
    
    <!--Team Description-->
    <p class="text-justify">The Spartans are citizens of
        Sparta, who were trained in the discipline and honor of the warrior
        society. Subject to military drill from early manhood, the Spartans were
        one of the most feared military forces in the Greek world. At the height
        of Sparta's power between the 6th and 4th centuries BC as it was
        commonly accepted that "one Spartan was worth several men of any other
        state." According to Thucydides, "it was the common perception at the
        time that Spartans would never lay down their weapons for any reason, be
        it hunger, or danger."
    </p>
</div>
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 3000);
</script>